<% for posts in @shark.posts %>
  <ul>
    <li class="post">
      <%= posts.body %>
      <%= button_tag "Remove Post", data: { controller: "posts", action: "posts#remove" } %>
      <%= button_tag "Upvote Post", data: { controller: "posts", action: "posts#upvote" } %>
    </li>
  </ul>
<% end %>
